<template>
    <div class="recaptcha">
        <div class="captcha-button-container">
            <div class="captcha-button button-empty" @click="click_button" ref="button_empty"></div>
            <div class="captcha-button" ref="spinner_div" v-if="spinner_enabled"><spinner :enabled="spinner_enabled"/></div>
        </div>
        <popup :enabled="popup_enabled" @backdrop-click="popup_enabled = false"/>
        <span class="notarobot">
            I'm not a robot
        </span>
        <div class="captcha-logo">
            <img src="https://www.gstatic.com/recaptcha/api2/logo_48.png">
            <p class="name">reCAPTCHA</p>
            <p class="links"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&autoplay=1">Privacy</a> - <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&autoplay=1">Terms</a></p>
        </div>
    </div>
</template>

<script>
import Spinner from "./Spinner.vue"
import Popup from "./Popup.vue"
import { delay } from "../main"

export default {
    name: "Captcha",
    components: {
        Spinner,
        Popup
    },
    data() {
        return {
            spinner_enabled: false,
            popup_enabled: false
        }
    },
    methods: {
        async click_button() {
            // animate button shrinking
            this.$refs.button_empty.classList.add("button-shrink")
            await delay(100)
            this.$refs.button_empty.style.display = "none"

            // animate spinner fading in
            this.spinner_enabled = true

            // random delay; google recaptcha would do networking here
            await delay(300 + Math.random() * 1300)

            // remove spinner. too lazy for animating this.
            // also enabled the popup with the captcha
            this.spinner_enabled = false
            this.popup_enabled = true
            await delay(50)

            this.$refs.button_empty.style.display = "block"
            await delay(1) // dumb hack
            this.$refs.button_empty.classList.remove("button-shrink")
        }
    },
}
</script>

<style scoped>
.recaptcha {
    width: 304px;
    height: 78px;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    margin-bottom: 18px;
    position: relative;
}

.captcha-button-container {
    float: left;
    width: 52px;
    height: 100%;
}

.captcha-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-empty {
    display: block;
    width: 25px;
    height: 25px;

    border: 2px solid #ccc;
    border-radius: 2px;

    transition: width 0.1s, height 0.1s, border 0.1s;
}
.button-empty.button-shrink {
    width: 13px;
    height: 13px;
    border-radius: 8px;
}

.button-empty:hover {
    border: 2px solid #bbb;
}

.notarobot {
    float: left;
    position: relative;
    top: 38%;
    text-align: center;
    font-size: 14px;
    user-select: none;
}

.captcha-logo {
    float: right;
}
.captcha-logo img {
    background-size: 32px;
    height: 32px;
    margin: 10px 20px 0 13px;
}
.name {
    margin: 0px;
    margin-left: 1px;
    font-size: 10px;
    user-select: none;
}
.links {
    margin: 0px;
    margin-top: 2px;
    font-size: 10px;
}
.links a {
    margin: 0px;
    margin-top: 2px;
    color: #555;
    font-size: 8px;

    user-select: none;
    text-decoration: none;
}
.links a:hover {
    text-decoration: underline;
}
</style>
