<template>
    <div>
        <div class="backdrop" ref="backdrop" @click="$emit('backdrop-click')"></div>
        <div class="popup" ref="popup">
            <div class="anchor-arrow"></div>
            <div class="popup-body">
                <div class="instructions" v-html="instructions"></div>
                <div class="content-container">
                    <div class="container-inner container-current" ref="cont_a">
                        <component :is="props_a.type" v-bind="props_a" ref="comp_a"/>
                    </div>
                    <div class="container-inner container-next" ref="cont_b">
                        <component :is="props_b.type" v-bind="props_b" ref="comp_b"/>
                    </div>
                </div>
                <hr class="sep" noshade="">
                <div class="popup-footer">
                    <img class="grey-btn" src="https://www.gstatic.com/recaptcha/api2/refresh_2x.png">
                    <img class="grey-btn" src="https://www.gstatic.com/recaptcha/api2/audio_2x.png">
                    <img class="grey-btn" src="https://www.gstatic.com/recaptcha/api2/info_2x.png">
                    <button class="verify-btn" @click="checkAdvanceCaptcha">VERIFY</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { baseUrl, delay } from "../main"
import BigImg from "./captchas/BigImg.vue"
import SmallImgs from "./captchas/SmallImgs.vue"

export default {
    name: "Popup",
    components: { BigImg, SmallImgs },
    props: ["enabled"],
    emits: ["backdrop-click"],
    data() {
        return {
            instructions: "",
            config: null,
            currentCaptcha: 0,

            cont_a_active: true,
            // these are also going to contains refs to the containers/components,
            // but we apparently have to do that in mounted().
            props_a: { type: null },
            props_b: { type: null },
        }
    },
    async mounted() {
        this.props_a.cont = this.$refs.cont_a
        this.props_b.cont = this.$refs.cont_b
        this.props_a.comp = this.$refs.comp_a
        this.props_b.comp = this.$refs.comp_b

        this.$refs.popup.style.display = "none"
        this.$refs.backdrop.style.display = "none"

        let cfg = await fetch(baseUrl + "config.json").then(r => r.json())
        this.config = cfg
        console.log("Received Catpcha config:", cfg)
        await this.setCaptcha(0)
    },
    watch: {
        enabled (v) {
            if (v) {
                this.$refs.popup.style.display = "block"
                this.$refs.backdrop.style.display = "block"
            }
            else {
                this.$refs.popup.style.display = "none"
                this.$refs.backdrop.style.display = "none"
            }
        }
    },
    methods: {
        contRefs() {
            return this.cont_a_active?
                [this.props_a, this.props_b] :
                [this.props_b, this.props_a]
        },
        async setCaptcha(i) {
            let [current, next] = this.contRefs()
            let [currentCont, nextCont] = [current.cont, next.cont]
            this.cont_a_active = !this.cont_a_active

            let cap = this.config[i]
            this.instructions = cap.instructions

            if (cap.type == "BigImg") {
                let l = await fetch(baseUrl + "slice/" + cap.img).then(r => r.json())
                let imArray = [l.splice(0, 4), l.splice(0, 4),
                    l.splice(0, 4), l.splice(0, 4)]
                next.imgs = imArray
                next.correctTiles = cap.solutions
            }
            else if (cap.type == "SmallImgs") {
                let l = JSON.parse(JSON.stringify(cap.imgs))
                l.forEach(imgs => {
                    for (let i in imgs)
                        imgs[i] = baseUrl + "raw/" + imgs[i]
                })
                let imArray = [l.splice(0, 3), l.splice(0, 3), l.splice(0, 3)]

                next.images = imArray
            }
            else {
                console.log("[ERROR] Captcha type not implemented: " + cap.type)
                return
            }

            next.type = cap.type
            this.currentCaptcha = i

            // animate the captcha switching
            currentCont.classList.remove("container-current")
            currentCont.classList.add("container-previous")

            nextCont.classList.remove("container-next")
            nextCont.classList.add("container-current")

            setTimeout(_ => {
                currentCont.classList.remove("container-previous")
                currentCont.classList.add("container-next")
            }, 500)
        },
        checkAdvanceCaptcha() {
            let comp = this.cont_a_active? this.$refs.comp_a : this.$refs.comp_b
            if (comp.check())
                this.advanceCaptcha()
        },
        advanceCaptcha() {
            let a = this.config[this.currentCaptcha].action
            if (a.type == "toIndex") {
                this.setCaptcha(a.index)
            }
            else if (a.type == "next") {
                this.setCaptcha(this.currentCaptcha + 1)
            }
            else if (a.type == "end") {
                alert("Let me introduce you to our sponsor, Raid Shadow Legends. RAID: Shadow Legends™️ is an immersive online experience with everything you'd expect from a brand new RPG title. It's got an amazing storyline, awesome 3D graphics, giant boss fights, PVP battles, and hundreds of never before seen champions to collect and customize.\nI never expected to get this level of performance out of a mobile game. Look how crazy the level of detail is on these champions!\nRAID: Shadow Legends™️ is getting big real fast, so you should definitely get in early. Starting now will give you a huge head start. There's also an upcoming Special Launch Tournament with crazy prizes! And not to mention, this game is absolutely free!\nSo go ahead and check out the video description to find out more about RAID: Shadow Legends™️. There, you will find a link to the store page and a special code to unlock all sorts of goodies. Using the special code, you can get 50,000 Silver immediately, and a FREE Epic Level Champion as part of the new players program, courtesy of course of the RAID: Shadow Legends™️ devs.")
            }
        }
    }
}
</script>

<style scoped>
.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.popup-body {
    position: relative;
    background: white;
    z-index: 130;
    min-height: 160px;
    min-width: 400px;
}

.popup-footer {
    width: 100%;
    background: white;
    z-index: 130;
}
.sep {
    /* TODO for some reason this thing is too dark, again */

    height: 0px;
    margin: 0px;
    color: #ccc;
    /* idk why these border settings are required; google recaptcha can look the
       same without them. */
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.grey-btn {
    width: 32px;
    height: 32px;
    margin: 16px 11px 2px 10px;
    opacity: 0.55;
}
.grey-btn:hover {
    opacity: 0.8;
}
.verify-btn {
    margin: 12px;
    float: right;
    color: white;

    background: #1a73e8;
    border: 0;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    min-width: 100px;
    padding: 0 10px 0 10px;
}

/* this thing feels like it could break at any point...
 * way too many magic numbers :(
 */
.anchor-arrow {
    position: absolute;
    left: -9px;
    top: 79px;
    transform: rotate(-45deg);

    width: 15px;
    height: 15px;
    z-index: 120;
    border-width: 1px 0 0 1px;
    border-color: #ccc;
    border-style: solid;
    background: white;
}

.popup {
    position: absolute;
    left: 53px;
    top: -50px;
    z-index: 110;

    border: 1px solid #ccc;
    border-radius: 2px;

    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
}

.content-container {
    position: relative;
    overflow: hidden;
}

.container-inner {
    display: inline-block;
}

.container-next {
    position: absolute;
    left: 400px;
}
.container-current {
    position: relative;
    left: 0;
    transition: left 0.5s;
}
.container-previous {
    position: absolute;
    left: -400px;
    transition: left 0.5s;
}
</style>

<style>
/* this can't be scoped, as it will otherwise not apply for elements generated
 * by v-html
 */
.instructions {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    background: #1a73e8;
    margin: 7px;
    padding: 20px;
}
.instructions b {
    font-size: 22px;
    font-weight: 900;
}
</style>
