<template>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="80%" width="80%" ref="spinner_svg" viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="35" stroke-width="15" stroke="#1a73e8" fill="none" stroke-dasharray="252" transform-origin="50 50">
            <animate
                attributeName="stroke"
                values="#eef; #1a73e8"
                dur="1.75s"
                ref="animate_fade"
            />
        </circle>
    </svg>
</template>

<script>
export default {
    name: "Spinner",
    props: ["enabled"],
    mount() {
        this.$refs.spinner_svg.style.display = "none"
    },
    watch: {
        enabled (v) {
            if (v) {
                this.$refs.spinner_svg.style.display = "block"
                this.$refs.animate_fade.beginElement()
            }
            else {
                this.$refs.spinner_svg.style.display = "none"
            }
        }
    }
}
</script>

<style>
circle {
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0.0% {
        stroke-dashoffset: 230.3834612632515;
        transform: rotate(0.0deg);
    }
    16.666666666666668% {
        stroke-dashoffset: 230.3834612632515;
        transform: rotate(30.0deg);
    }
    33.333333333333336% {
        stroke-dashoffset: 167.5516081914556;
        transform: rotate(60.0deg);
    }
    50.0% {
        stroke-dashoffset: 230.3834612632515;
        transform: rotate(180.0deg);
    }
    66.66666666666667% {
        stroke-dashoffset: 230.38346126325152;
        transform: rotate(210.0deg);
    }
    83.33333333333333% {
        stroke-dashoffset: 167.5516081914556;
        transform: rotate(240.0deg);
    }
    100.0% {
        stroke-dashoffset: 230.38346126325152;
        transform: rotate(360.0deg);
    }
}
</style>
