<template>
    <div>
        <div v-for="(row, rowIdx) of imgs" :key="rowIdx" class="row">
            <div class="tile" v-for="(data, colIdx) of row" :key="colIdx" :class="{ clicked: clickedTiles[rowIdx * 4 + colIdx] }">
                <span class="tick">✓</span>
                <img :src="'data:image/webp;base64,' + data" :index="rowIdx * 4 + colIdx" @click="handleClick" draggable="false">
            </div>
        </div>
        <div class="warn-text" ref="warn_div"></div>
    </div>
</template>

<script>
export default {
    name: "BigImg",
    data() {
        return {
            clickedTiles: [
                false, false, false, false,
                false, false, false, false,
                false, false, false, false,
                false, false, false, false
            ]
        }
    },
    props: ["imgs", "correctTiles"],
    methods: {
        check() {
            for (let i = 0; i < 16; i++) {
                if ([this.clickedTiles[i], null].includes(this.correctTiles[i])) {
                    continue // correct
                }

                // incorrect: depending on how, show a message
                if (this.clickedTiles[i]) {
                    this.$refs.warn_div.innerHTML = "Please select only matching tiles."
                }
                else {
                    this.$refs.warn_div.innerHTML = "Please select all matching tiles."
                }
                return false
            }
            return true
        },
        handleClick(e) {
            let idx = e.target.getAttribute("index")
            this.clickedTiles[idx] = !this.clickedTiles[idx]
        }
    },
    watch: {
        imgs(_) {
            this.clickedTiles = [
                false, false, false, false,
                false, false, false, false,
                false, false, false, false,
                false, false, false, false
            ]
        }
    }
}
</script>

<style scoped>
.row {
    margin: 0 0 0 6px;
    height: 97px;
}
.row:last-child {
    margin-bottom: 6px;
}

.tile {
    margin: 0 1px 0 1px;
    width: 95px;
    height: 95px;
    display: inline-block;
    position: relative;
}

.tile .tick {
    display: none;
    margin-top: 2px;
    margin-left: 2px;
    position: absolute;
    background: #1a73e8;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: white;
    text-align: center;
}

.tile.clicked .tick {
    display: inline
}

.tile img {
    width: 95px;
    height: 95px;
    transition: width .15s, height .15s, margin .15s;
}

.tile.clicked img {
    width: 75px;
    height: 75px;
    margin: 10px;
}

.warn-text {
    color: #b00;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}
</style>
