<template>
    <div ref="main">
        <!-- most content will be generated in mounted() -->
    </div>
</template>

<script>
import { baseUrl, delay } from "../../main"

export default {
    name: "SmallImgs",
    props: ["images"],
    data() {
        return {
            warn_div: null,
            imgs: [],
        }
    },
    mounted() {
        this.imgs = JSON.parse(JSON.stringify(this.images))
        let main_div = this.$refs.main

        for (let row of this.imgs) {
            let div = document.createElement("div")
            div.classList.add("small-imgs-row")

            for (let img_list of row) {
                let img = document.createElement("img")

                img.classList.add("small-imgs-tile")
                img.src = img_list.shift()
                img.setAttribute("draggable", false)
                img.onclick = async _ => {
                    if (img_list.length == 0) {
                        this.warn_div.innerHTML = "Please select only matching images."
                        this.warn_div.style.display = "block"
                        return
                    }

                    // if present from a previous click
                    img.classList.remove("small-imgs-opaque")
                    // these delays are dumb hacks, but make it work both in
                    // firefox and chrome.
                    // using a delay of 1 instead of 50 might seem smart,
                    // but actually breaks it :(
                    await delay(50)

                    img.classList.add("small-imgs-transparent")
                    await delay(50)
                    img.src = img_list.shift()
                    img.classList.remove("small-imgs-transparent")
                    img.classList.add("small-imgs-opaque")
                    await delay(2000)
                    img.classList.remove("small-imgs-opaque")
                };

                div.appendChild(img)
            }

            main_div.appendChild(div)
        }

        let warn_div = document.createElement("div")
        this.warn_div = warn_div
        warn_div.classList.add("warn-text")
        warn_div.style.display = "none"
        main_div.appendChild(warn_div)
    },
    methods: {
        check() {
            let ret = this.imgs
                .flatMap(l => l.map(r => r.length == 0))
                .reduce((a, b) => a && b)

            if (!ret) {
                this.warn_div.innerHTML = "Please select all matching images."
                this.warn_div.style.display = "block"
            }
            return ret
        }
    },
}
</script>

<!-- can't be scoped or won't apply to dynamically generated elements -->
<style>
.small-imgs-row {
    margin: 0 0 0 6px;
    height: 129px;
}
.small-imgs-row:last-child {
    margin-bottom: 6px;
}

.small-imgs-tile {
    margin: 0 1px 0 1px;
    width: 127px;
    height: 127px;
}
.small-imgs-tile:last-child {
    width: 128px;
}

.small-imgs-transparent {
    opacity: 0.0;
}
.small-imgs-opaque {
    opacity: 1.0;
    transition: opacity 2s linear;
}

.warn-text {
    color: #b00;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}
</style>
