<template>
    <div>
        <hr class="main-sep" noshade="">
        <br>
        <captcha/>
        <hr class="main-sep" noshade="">
        <div class="about">
            <b>About this page</b>
            <br>
            <br>
            We can only continue being free if we don't get problems with bots abusing our git server for file hosting. Please complete the captcha above to continue.
            <br>
            <br>
            <br>
            IP address: {{ip_address}}
            <br>
            Time: {{new Date().toISOString()}}
            <br>
            URL: {{url}}
        </div>
    </div>
</template>

<script>
import Captcha from "./components/Captcha.vue"

export default {
    name: "App",
    components: {
        Captcha
    },
    data() {
        return {
            ip_address: "...",
            url: ""
        }
    },
    async mounted() {
        this.url = window.location.search.substring("?return=".length) || "https://google.com/s?q=wubbel"
        this.ip_address = await fetch("https://ipv4.wtfismyip.com/text").then(r => r.text()).catch(_ => "31.69.42.169")
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
</style>

<style scoped>
.main-sep {
    color: #ccc;
    /* idk why these border settings are required; google recaptcha can look the
       same without them. */
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    background-color: #ccc;
}

.about {
    font-size: 13px;
}
</style>
